<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afegir Llibre</title>
    <link rel="stylesheet" th:href="@{/styles/style_form.css}">
</head>
<body>
    <h1>Afegir Nou Llibre</h1>
    <form th:action="@{/inserir}" method="post">
        <div class="form-group">
            <label>Títol:</label>
            <input type="text" name="titol" required>
        </div>
        <div class="form-group">
            <label>Autor:</label>
            <input type="text" name="autor" required>
        </div>
        <div class="form-group">
            <label>ISBN:</label>
            <input type="text" name="isbn" required 
                   pattern="\d{10}|\d{13}"
                   th:classappend="${error != null} ? 'input-error' : ''">
        </div>
        <div class="form-group">
            <label>Data Publicació:</label>
            <input type="date" name="dataPublicacio" required>
        </div>
        <div class="form-group">
            <label>Preu:</label>
            <input type="number" step="0.01" name="preu" required>
        </div>
        <div class="form-group">
            <label>Editorial:</label>
            <input type="text" name="editorial" required>
        </div>
        <button type="submit">Guardar</button>
        <div th:if="${error}" class="error-message" th:text="${error}"></div>
    </form>
    <a th:href="@{/catalog}">Tornar al catàleg</a>
</body>
</html>